.item-card{
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: max-content 1fr;
  padding: 0.5rem;
  position: relative;
  gap: 0.5rem;
  width: 450px;
}

.item-action{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.item-action button{
  font-size: 1.5rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
}

.hidden{
  visibility: collapse;
}

.item-card>img{
  width: 100%;
}

.item-card h2{
  margin: 0;
}

.detail{
  display: grid;
  grid-template-rows: max-content 1fr;
}

.footer{
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column: 1/-1;
}

.footer>*{
  align-content: center;
}

.round-box{
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  padding-bottom: 0.2rem;
}

.stats{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.item-head{
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 0.5rem;
  grid-column: 1/-1;
  padding-bottom: 0.5rem;
  border-bottom: black solid 2px;
}

.item-type{
  font-size: 2rem;
}

.price{
  font-size: 2rem;
  text-align: end;
}

.dif{
  border: red solid 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  animation-name: flashing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.red-heart{
  color: red;
}

.common{
  background-color: #353535;
  color: white;
}

.rare{
  background-color: #1054e6;
  color: white;
}

.epic{
  background-color: #a424e8;
  color: white;
}

.legendary{
  background-color: #ff1e00;
  color: white;
}

@keyframes flashing {
  0%{
    border: red solid 2px;
  }
  50%{
    border: red solid 10px;
  }
  100%{
    border: red solid 2px;
  }
}