.message-box{
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: var(--text-col) solid 2px;
    background-color: var(--good-col);
}

.error-msg{
    background-color: var(--error-col);
    color: var(--text-neg-col);
}

.message-box>h2{
    border-bottom: var(--text-col) solid 2px;
    font-size: 2rem;
    margin-top: 0;
}

.message-box>p, .message-box>button{
    font-size: 1.5rem;
    width: 300px;
}
