.dropdown{
    position: relative;
    width: max-content;
}

.dropdown button{
    display: grid;
    grid-template-columns: 1fr max-content;
    text-align: left;
    align-items: center;
}

.menu-show{
    visibility: visible;
    position: absolute;
    bottom: max-content;
    background-color: var(--btn-col);
    z-index: 20;
    border: var(--text-col) solid 2px;
    border-top: 0;
    width: 100%;
    box-sizing: border-box;
    max-height: 300px;
    overflow: scroll;
}

.menu-show div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-hide{
    visibility: hidden;
    position: absolute;
}