html{
    --background-col: #222831;
    --foreground-col: #00ADB5;
    --text-col: #222831;
    --text-neg-col: #EEEEEE;
    --btn-col: #EEEEEE;
    --btn-hover-col: #393E46;
    --error-col: #ff1010;
    --good-col: #3aff6c;
}